<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VanDeal</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/customed/carousel.css" />

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AngularControllers/AngularCotroller.js"></script>
    <script src="~/Scripts/AngularServices/ApiCallService.js"></script>
    <script>
        $(document).ready(function () {
            $('#myCarousel').carousel({
                interval: 10000
            })
            $('.fdi-Carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                var next2 = $(this).next().next();
                if (!next2.length) {
                    next2 = $(this).siblings(':first');
                }
                next2.children(':first-child').clone().appendTo($(this));


                if (next2.next().length > 0) {
                    console.log(next2.next().next().next().next().length);
                    next2.next().children(':first-child').clone().appendTo($(this));
                }
                else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });
        });

        $(document).ready(function () {
            $(".col-md-3 ").mouseenter(function () {
                $(this).find(".col-img-responsive").show(200);
            });


            $(".col-md-3").mouseleave(function () {
                $(this).find(".col-img-responsive").hide();
            });
        });
    </script>

</head>
<body>



    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    </button>
                    @Html.ActionLink("VanDeal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@


    <div style="background-color:whitesmoke">
        <div id="headContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-2" style="background-color:blue">
                        <div style="padding:50px 50px 50px 50px;background-color:gray">Hello</div>
                    </div>
                    <div class="col-md-8" style="background-color:red">
                        <div style="padding:50px 50px 50px 50px;background-color:lightgray">Hello</div>
                    </div>
                    <div class="col-md-2" style="background-color:yellow">
                        <div style="padding:50px 50px 50px 50px;background-color:lightgreen">Hello</div>
                    </div>
                </div>
            </div>

            <div>
                <div style="background-color:deeppink; padding:10px 0 10px 0">
                    <div class="container">
                        <div>
                            <button>buttion1</button>
                            <button>buttion1</button>
                            <button>buttion1</button>
                        </div>
                    </div>
                </div>
                <div style="background-color:lightgray; padding:10px 0 10px 0">
                    <div class="container">
                        <div>
                            <button>buttion1</button>
                            <button>buttion1</button>
                            <button>buttion1</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bodyContent" class="container" style="margin-top:20px;background-color:white">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <div id="carousel_header" class="row">
                        <div class="col-md-9">
                            <h3 style="color:black; font-weight:bolder; padding:0px 5px 0px 0px; margin:0px;">
                                热门折扣
                            </h3>
                        </div>
                        <div class="col-md-3">
                            <div style="padding:5px 0px 5px 0px;">
                                <button style="float:right; background-color:lightblue; border-color:lightblue;" type="button" class="btn btn-info">全部</button>
                            </div>
                        </div>
                    </div>
                    <div id="myCarousel" class="carousel fdi-Carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                            <li data-target="#myCarousel" data-slide-to="5"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel fdi-Carousel slide" id="eventCarousel" data-interval="0">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item1</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item2</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold2.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item3</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item4</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold2.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item5</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-3">
                                        <div class="col-img-responsive">
                                            <div class="price">$12.99</div>
                                            <br />
                                            <div class="itemName">Item6</div>
                                            <br />
                                            <div class="itemDescription">Description</div>
                                        </div>
                                        <img src="~/Image/carouselPlaceHold2.jpg" class="img-responsive" alt="a" />
                                    </div>
                                </div>
                            </div>
                            <!--/carousel-inner-->
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        </a>

                    </div>
                    <div id="deal_contents" style="margin-top:10px;">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#topDeals" data-toggle="tab">
                                    置顶折扣
                                </a>
                            </li>
                            <li>
                                <a href="#latestDeals" data-toggle="tab">
                                    最新折扣
                                </a>
                            </li>
                            <li>
                                <a href="#latestDeals" data-toggle="tab">
                                    各大商场折扣
                                </a>
                            </li>
                            <li>
                                <a href="#latestDeals" data-toggle="tab">
                                    吃货折扣
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="topDeals">
                                <div class="col-md-12" style="border-bottom:1px solid lightGray; padding-bottom:5px">
                                    <div class="col-md-3">
                                        <div style="text-align:center; padding-top:20px">
                                            <img src="~/Image/placeHold.jpg" style="padding-bottom:10px; padding-right:0px; border:0px; margin:0px;" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                                            <button type="button" class="btn btn-danger">立即购买</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h3>$11.99 ($24.99, 52% off) 史低价！aden + anais Muslin 中号婴儿睡袋 </h3>

                                        <article>
                                            <ul>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                            </ul>
                                        </article>
                                        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">More Information</a>
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-md-12" style="border-bottom:1px solid lightGray; padding-bottom:5px">
                                    <div class="col-md-3">
                                        <div style="text-align:center; padding-top:20px">
                                            <img src="~/Image/placeHold.jpg" style="padding-bottom:10px; padding-right:0px; border:0px; margin:0px;" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                                            <button type="button" class="btn btn-danger">立即购买</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h3>$11.99 ($24.99, 52% off) 史低价！aden + anais Muslin 中号婴儿睡袋 </h3>


                                        <article>
                                            <ul>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                            </ul>
                                        </article>
                                        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">More Information</a>
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-md-12" style="border-bottom:1px solid lightGray; padding-bottom:5px">
                                    <div class="col-md-3">
                                        <div style="text-align:center; padding-top:20px">
                                            <img src="~/Image/placeHold.jpg" style="padding-bottom:10px; padding-right:0px; border:0px; margin:0px;" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                                            <button type="button" class="btn btn-danger">立即购买</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h3>$11.99 ($24.99, 52% off) 史低价！aden + anais Muslin 中号婴儿睡袋 </h3>


                                        <article>
                                            <ul>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                            </ul>
                                        </article>
                                        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">More Information</a>
                                    </div>
                                    <hr />
                                </div>
                                <div class="col-md-12" style="border-bottom:1px solid lightGray; padding-bottom:5px">
                                    <div class="col-md-3">
                                        <div style="text-align:center; padding-top:20px">
                                            <img src="~/Image/placeHold.jpg" style="padding-bottom:10px; padding-right:0px; border:0px; margin:0px;" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                                            <button type="button" class="btn btn-danger">立即购买</button>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <h3>$11.99 ($24.99, 52% off) 史低价！aden + anais Muslin 中号婴儿睡袋 </h3>


                                        <article>
                                            <ul>
                                                <li>Amazon.ca 现有 aden + anais Muslin 中号婴儿睡袋，现价$11.99(原价$24.99)。</li>
                                                <li>订单满CDN$35加拿大境内免运费, 或Amazon Prime会员免费两日速递（免费30天试用）。</li>
                                            </ul>
                                        </article>
                                        <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">More Information</a>
                                    </div>
                                    <hr>
                                </div>

                            </div>
                            <div class="tab-pane" id="latestDeals">
                                <p>Others</p>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="col-md-3 col-xs-12">
                    <div>
                        <img src="~/Image/adPlaceHold.jpg" width="250" height="250">
                        <p>Here is side Bar</p>
                    </div>
                    <div>
                        <img src="~/Image/adPlaceHold.jpg" width="250" height="250">
                        <p>Here is side Bar</p>
                    </div>
                    <div>
                        <img src="~/Image/adPlaceHold.jpg" width="250" height="250">
                        <p>Here is side Bar</p>
                    </div>
                    <div>
                        <img src="~/Image/adPlaceHold.jpg" width="250" height="250">
                        <p>Here is side Bar</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    @RenderBody()


</body>
</html>
